.candidate {
    display: flex;
    padding: 30px;
    background-color:#faf6fa;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    justify-content: center;
    align-items: center;
}

.avatar > img {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.candidate-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}
.candidate-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.file-input:focus {
    outline: none;
}