.counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
 }

.counter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .counter {
        padding: 4px;
    }

    .counter-card {
        margin: 5px 5px;
        padding: 5px;
    }
}